#quotes {
	margin-top: 75px;
	background-color: #191919;
}
#quotes table {
	margin: 0;
	border: 0;
}
#quotelink {
	color: #FC0;
	margin: 0 10px;
	float: left;
	width: 150px;
}
#quotetext {
	float: left;
}

.wrapper {
	margin-top: 90px;
	border: 4px solid #434343;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	padding: 15px 25px 0 25px;
}

#titles {
	float:left;
	margin: 10px 15px;
	line-height: 1.5;
}

#titles h1 {
	margin: 0;
}

#buttons {
	float:right;
	margin: 5px 10px;
}

#sitelinks {
	margin: 5px 10px;
	float:right;
	font-size: 12px;
	text-align: right;
	line-height: 1.7;	
}

.posts abbr {
	float:right;
}

#updated {
	float:right;
}

.divider {
	text-align: center; 
	border-top: 4px solid #434343;
	width: 50%;
	margin-left: 25%;
}

.flipY {
	vertical-align: bottom;
	
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.divider img {
	vertical-align: top;
}

#pic {
	margin: 20px 0;
}
